// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~@nativescript/theme/core';
@import '~@nativescript/theme/default';

// Override variables here

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
Page{
    background: rgb(165, 165, 165);
    font-size: 15;
}
.logo{
    width: 100;
    text-align: center;
}
TextField{
    margin-bottom: 15;
}
.label{
    font-weight: bold;
}