p.error{
  color: red;
  margin: 5px 0;
}
#loading{
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background: rgba(0,0,0,0.2);
}
#loading div{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}