p.error{
  color: red;
  margin: 5px 0;
}
#loading{
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background: rgba(0,0,0,0.2);
}
#loading div{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.applications{
  list-style: none;
  padding: 0;
}
.applications li{
  margin: 15px 0;
}
.application-c-name{
  text-transform: capitalize;
  width: 100%;
  height: 100%;
  background: grey;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 10px;
  font-size: 40px;
  cursor: pointer;
}
.application-name{
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.show-secret{
  padding: 0px 7px !important;
  font-size: 14px !important;
}